* {
  /* margin: 10px auto; */
  padding: 0;
  box-sizing: border-box;
}

.campaign-card {
  position: relative;
  max-width: 18rem;
  padding: 15px;
  border: 1px solid white;
  /* background: url(../assets/images/2.avif); */
  /* background-size: cover;
  background-repeat: no-repeat; */
  border: 1px solid #fff !important;
  background-color: transparent !important;
  border-radius: 10px;
}

.campaign-card .card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.campaign-card img {
  border-radius: 8px;
  width: 100%;
}

.campaign-card .arrow {
  position: absolute;
  bottom: 9%;
  right: 15px;
  padding: 0px 5px;
  font-size: 24px;
  color: #000;
  background-color: #ffffff;
  border-radius: 50%;
  text-decoration: none;
}

.progress {
  height: 8px !important;
  margin-bottom: 0;
  width: 100%;
}

.progress::-webkit-progress-value {
  background: #2a7b9b;
  background: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );
}

.progress::-webkit-progress-bar {
  background-color: #2a63ad;
}

.card-body {
  margin-bottom: 0;
}

.container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
