* {
  /* margin: 10px auto; */
  padding: 0;
  box-sizing: border-box;
}


.campaign-card {
  position: relative;
    max-width: 18rem;
  padding: 15px;
  border: none;
  background: url(../assets/images/2.avif);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
 

}
.campaign-card .card-title{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
}
.campaign-card img {
  border-radius: 8px;
  width: 100%;
  
 
}

.campaign-card .arrow {
  position: absolute;
  bottom: 9%;
  right: 15px;
  padding: 0px 5px;
  font-size: 24px;
  color: #000;
  background-color: #ffffff;
  border-radius: 50%;
  text-decoration: none;
}

.progress {
  height: 8px !important;
  margin-bottom: 0;
  width: 100%;
}

.progress::-webkit-progress-value {
  background-color: #93bfff;
}

.progress::-webkit-progress-bar {
  background-color: #B2A2A2;
}

.card-body {
  margin-bottom: 0;
}

.container {
 
  margin-top: 2rem;
  margin-bottom: 2rem;
}
