body{
    background: #93bfff !important;
 
}
.hero-section {
    height: 100vh;
  }
  .hero-section__video {
    object-fit:cover;
    z-index:1;
   
  }
  .about-section {
  min-height: 100vh;
  background: url('../assets/images/explore.jpg') ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
.about-section__overlay {
  background: rgba(0,0,0,0.55);
  z-index: 1;
}
.about-section__content {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  padding: 2rem 1rem;
}
