body{
background: #ffffff !important;
/* background: radial-gradient(circle, rgba(40, 62, 74, 1) 45%, rgba(0, 0, 0, 1) 89%) !important; */
 
}
.hero-section {
    height: 100vh;
  }
  .hero-section__video {
    object-fit:cover;
    z-index:1;
   
  }
  .about-section {
  min-height: 100vh;
  background: url('../assets/images/explore.jpg') ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
.about-section__overlay {
background: rgb(0 0 0 / 21%);
  z-index: 1;
}
.about-section__content {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  padding: 2rem 1rem;
}
