.navbar.backr-navbar {
  background: none !important;
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1050;
  transition: background 0.3s, box-shadow 0.3s;
  color: #000 !important;
}
.navbar.backr-navbar.navbar--scrolled {
  transition: all 0.3s ease;
  background: #ffffff75 !important;
  box-shadow: 0 2px 16px rgba(0,0,0,0.07) !important;
}
.navbar.backr-navbar .backr-navbar__logo,
.navbar.backr-navbar .nav-link,
.navbar.backr-navbar .btn {
  transition: all 0.3s ease;
  color: #fff !important;
  border-color: #fff !important;
}
.navbar.backr-navbar.navbar--scrolled .backr-navbar__logo,
.navbar.backr-navbar.navbar--scrolled .nav-link,
.navbar.backr-navbar.navbar--scrolled .btn {
  transition: all 0.3 ease;
  color: #232323 !important;
  border-color: #232323 !important;
}
.navbar.backr-navbar.navbar--scrolled .btn.btn-dark,
.navbar.backr-navbar.navbar--scrolled .btn.btn-outline-light {
  transition: all 0.3s ease;
  background: #232323 !important;
  color: #fff !important;
  border-color: #232323 !important;
}
.backr-navbar__signup:hover {
  transition: all 0.3s ease;
  background: #fff !important;
  color: #000 !important;
}
.backr-navbar__login, .backr-navbar__profile {
  transition: all 0.3s ease;
  border-radius: 24px;
  padding: 0.5rem 1.5rem;
  color: #000;
}
.backr-navbar__login:hover {
  background: #fff !important;
  color: #000 !important;
} 
/* .backr-navbar__profile{
display:none !important;
} */
#signBtn:hover{
  color: #000 !important;
}
#Profilebtn:hover{
  color: #000 !important;
}
#logoutBtn:hover{
  color: #000 !important;
}
.navbar--scrolled #signBtn:hover{
  color: rgb(0, 0, 0) !important;
  background-color: #fff !important;
}
.navbar--scrolled #Profilebtn:hover{
  color: #000 !important;
  background-color: #fff !important;
}
.navbar--scrolled #logoutBtn:hover{
  color: #000 !important;
  background-color: #fff !important;
}
.navbar-toggler{
      background-color: #ffffff54 !important;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 27%;
  right: 20%;
  background: white;
  border-radius: 10px;
  margin-top: 5px;
}

.show {
  display: block;
}

.dropdown-item {
  border: none;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
}


.dropdown-item p:hover {
  background-color: lightgray;
  padding: 10px;
  margin-right: 20px;
  border-radius: 10px;
}

.header-title{
  padding-left: 7px;
  padding-top: 5px;
  color: #6c757d;
}

.campaign-link {
  text-decoration: none;
  color: black;
}

.not-found-search{
  text-align: center;
  padding-top: 10px;
}