<div class="card shadow border-0">
  <div class="m-3 mb-0 d-flex flex-column flex-sm-row justify-content-between align-items-start align-items-sm-center bg-transparent gap-3">
    <h5 class="mb-0">My Campaigns</h5>
    <button class="btn btn-success w-50 w-sm-auto" id="createCampaignBtn"><i class="bi bi-plus-circle"></i> Create Campaign</button>
  </div>
  <p class="mx-3 text-muted">Manage your campaigns</p>
  <div class="card-body px-0 pb-2">
    <div class="table-responsive">
      <table class="table table-hover align-middle mb-0" id="">
        <thead>
          <tr>
            <th class="ps-4 pe-5 text-muted">Title</th>
            <th class="text-muted d-none d-md-table-cell">Deadline</th>
            <th class="text-muted">Amount Raised</th>
            <th class="text-muted d-none d-lg-table-cell">Goal</th>
            <th class="text-muted d-none d-md-table-cell">Contributors</th>
            <th class="text-muted">Status</th>
            <th class="text-muted text-center">Actions</th>
          </tr>
        </thead>
        <tbody id="campaignsTabelBody">
          <tr>
            <td class="text-wrap">My First Campaign</td>
            <td class="d-none d-md-table-cell">2025/5/21</td>
            <td>$10,000</td>
            <td class="d-none d-lg-table-cell">$20,000</td>
            <td class="d-none d-md-table-cell">150</td>
            <td><span class="badge  text-muted border border-success ">Active</span></td>
            <td class="text-center">
              <div class="btn-group">
                <button class="btn btn-sm btn-outline-success "><i class="bi bi-eye"></i></button>
                <button class="btn btn-sm btn-outline-primary"><i class="bi bi-pencil"></i></button>
                <button class="btn btn-sm btn-outline-danger"><i class="bi bi-trash"></i></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <nav class="mt-3 px-4">
      <ul class="pagination justify-content-end mb-0">
        <li class="page-item disabled">
          <a class="page-link">1</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
      </ul>
    </nav>
  </div>
</div>


<div class="modal fade" id="createCampaignModal" tabindex="-1" aria-labelledby="createCampaignModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createCampaignModalLabel">Create New Campaign</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="createCampaignForm">
          <div class="mb-3">
            <label for="campaignTitle" class="form-label">Title</label>
            <input type="text" class="form-control" id="campaignTitle" required />
          </div>
          <div class="mb-3">
            <label for="campaignDeadline" class="form-label">Deadline</label>
            <input type="date" class="form-control" id="campaignDeadline" required />
          </div>
          <div class="mb-3">
            <label for="campaignGoal" class="form-label">Goal Amount ($)</label>
            <input type="number" class="form-control" id="campaignGoal" required min="100" />
          </div>
          <div class="mb-3">
            <label for="campaignImage" class="form-label">Campaign Image</label>
            <input type="file" class="form-control" id="campaignImage" name="campaignImage" accept="image/*" required />
          </div>
          <div class="mb-3">
            <label for="campaignDescription" class="form-label">Description</label>
            <textarea class="form-control" id="campaignDescription" rows="3" required></textarea>
          </div>
          <div class="mb-3">
            <label class="form-label">Rewards</label>
            <div id="rewardsContainer">
              <div class="reward-item mb-2">
                <input type="text" class="form-control mb-1" id="campaignRewardsTitle" name="rewardTitle[]" placeholder="Reward Title" required />
                <input type="text" class="form-control mb-1" id="campaignRewardsDescription" name="rewardDescription[]" placeholder="Reward Description" required />
                
              </div>
            </div>
          </div>
          <button type="submit" id="createCampaignBtn"  class="btn btn-success">Create Campaign</button>
        </form>
      </div>
    </div>
  </div>
</div> 