<nav class="navbar navbar-expand-lg navbar-dark bg-success px-4">
  <a class="navbar-brand" href="#">Backr</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav me-auto">
    
    </ul>
   
    <div class="dropdown">
      <button
        class="btn btn-success dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Admin Profile
      </button>
      <div class="dropdown-menu dropdown-menu-end">
        <h6 class="dropdown-header">Settings</h6>
        <a class="dropdown-item" href="#">
          <i class="bi bi-gear"></i> Account Settings
        </a>
        <a class="dropdown-item" href="#">
          <i class="bi bi-box-arrow-right"></i> Logout
        </a>
      </div>
    </div>
  </div>
</nav>



