<div class="card shadow border-0">
  <div
    class="m-3 mb-0 d-flex justify-content-between align-items-center bg-transparent"
  >
    <h5 class="mb-0">Campaigns</h5>
  </div>
  <p class="mx-3 text-muted">Let's manage your campaigns</p>
  <div class="card-body">
    <table class="table table-hover table-responsive align-middle">
      <thead class="table">
        <tr>
          <th class="text-muted">Created by</th>
          <th class="pe-5 text-muted">Title</th>
          <th class="text-muted">Category</th>
          <th class="text-muted">Amount raised</th>
          <th class="text-muted">Goal</th>
          <th class="text-muted">Contributors</th>
          <th class="text-muted">Country</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Lanie Townes</td>
          <td>Integer pede justo...</td>
          <td>Film & Videos</td>
          <td>$64251.30</td>
          <td>$100000</td>
          <td>2325</td>
          <td>Malaysia</td>
          <td><button class="deleteCampaign"><i class="bi bi-trash3"></i></button></td>
        </tr>
        <tr>
          <td>Kurtis Reubbens</td>
          <td>Suspendisse accumsan...</td>
          <td>Medical</td>
          <td>$57693.16</td>
          <td>$100000</td>
          <td>5912</td>
          <td>Indonesia</td>
          <td><button class="deleteCampaign"><i class="bi bi-trash3"></i></button></td>
        </tr>
        <tr>
          <td>Ogden Dimmne</td>
          <td>Suspendisse potenti.</td>
          <td>Medical</td>
          <td>$76752.04</td>
          <td>$100000</td>
          <td>8484</td>
          <td>Thailand</td>
          <td><button class="deleteCampaign"><i class="bi bi-trash3"></i></button></td>
        </tr>
      </tbody>
    </table>

    <!-- Pagination -->
    <nav class="mt-3">
      <div class="pagination justify-content-end">
        <li class="page-item disabled"><a class="page-link bg-success">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
      </div>
    </nav>
  </div>
</div>
