<nav class="navbar navbar-expand-lg navbar-light backr-navbar">
  <div class="container-fluid">
    <a class="navbar-brand backr-navbar__logo fw-bold text-white" href="#">Backr</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"  aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0 backr-navbar__links">
        <li class="nav-item"><a class="nav-link text-white" href="#">Explore</a></li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#" data-bs-toggle="collapse" data-bs-target="#navbarSearch"  id="searchToggle">Search</a>
        </li>
        <li class="nav-item"><a class="nav-link text-white" href="#about-section">About Us</a></li>
      </ul>
      <div class="collapse" id="navbarSearch">
        <form class="d-flex ms-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" >
          <button class="btn btn-outline-light" type="submit">Go</button>
        </form>
      </div>
      <div class="backr-navbar__actions">
        <button class="btn btn-outline-light backr-navbar__login text-white" id="signBtn">Log In</button>
      </div>
            <div class="backr-navbar__actions">
        <button class="btn btn-outline-light backr-navbar__profile text-white"  onclick="window.location.href='Myprofile.html'" id="Profilebtn">Profile</button>
      </div>
    </div>
  </div>
</nav> 